.authentication{
    display: flex;
    background-image: url("https://www.cumberlandtax.org/uploads/slide3.jpg");
    background-size: cover;
    background-color: rgb(89, 100, 114);
}
.authentication section{
    display: block;
    margin-left:auto ;
    margin-right: auto;
    background-color:rgb(100, 80, 119,0.4);
    margin-top: 10%;
    color: white;
    border-radius: 20%;
    align-items: center;
    padding: 2rem;
    width: 70%;
    max-width: 600px;
}
.authentication section div{
    display: block;
    margin-left:auto ;
    margin-right: auto;
    text-align: center;
    
}
.authentication section div h1{
    margin-top: -3%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}
.authentication section div label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
.authentication section div input{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    border-radius: 10%;
    margin: 0.5rem;
    padding: 0.25rem;
    text-align: center;
    width: 80%;
    max-width: 300px;
}
.authentication section div button{
    cursor: pointer;
    border: none;
    background-color: rgb(73, 76, 77);
    color: white;
    border-radius: 10%;
    font-size: 15px;
    padding: 0.5rem;
    margin: 0.5rem;
}
.errormsg{
    color: red;
    font-weight: 300;
} 
/*ADD EXPENSE*/
.addexpense{
    background-color: rgb(89, 100, 114);
    background-image: none;
}
.addexpense section{
    width: 100%;
    background-color: rgb(62, 70, 80,0.4);
    padding: 1%;
    border-radius: 15%;
    color: white;
    text-align: center;

}
.addexpense section .user-exp{
    width: 20%;
    margin: 0.3%;
    padding: 0.1%;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
}
.addexpense section div .label{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.addexpense section div .label span{
    margin-left: 11%;
    margin-right: 11%;
}
.addexpense section div button{
    padding: 0.75%;
    cursor: pointer;
    margin: 0.5%;
    font-size: 17px;
    color: white;
    border-radius: 10%;
    background-color: rgb(34, 36, 41);
    border: none;
}
.addexpense #expense-container{
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}